*{
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
}
#main{
    height: 100%;
    width: 100%;}
   #logo{
    height: 70%;
    margin: 10px;
   }
   #logo:hover{
    background-color: lightblue;
    border-radius: 10px;
   }
    #header{
    

    height: 15vh;
    width: 100%;
    position: fixed;
background-color: azure;
    display: flex;
    align-items: center;
   
}
.text{
    /* background-color:white; */
    color: #0176d3;
margin: 20px;
margin-left: 30px;
font-size: larger;
border-radius: 8px;
}
.text:hover{
    background-color:rgb(132, 210, 236);
    
}
    #fakeheader{


    height: 15%;
    width: 100%;
}

#page1{
    background-color:white ;
    height: 85%;
}
#strip{
    width: 100%;
    height: 8%;
    background-color: #032d60;
    color: azure;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
#strip u{
   margin-left: 20px;
   
    font-weight: lighter;
}
#content{
    width: 100%;
height: 76%;
display: flex;
align-items: center;

justify-content: space-around;
}

#box1 {
    height: 90%;
    width: 47%;
    background-color: white;
    margin:  30px 10px;
    color: #032d60;
    font-size: x-large;
    
    
}
#box h1{
    margin: 30px 10px;
}
#box1 p{
    font-size: x-large;
    margin: 30px 10px;
    font-weight: lighter;
}



#box2{
    height: 90%;
    width: 47%;
    background-color:white
}
#box2 video{
   width: 100%;
   height: 100%;

   object-fit: cover;
   overflow: hidden;
   border-radius: 30px;
}
#heading{
    height: 16%;
    width: 100%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}
#heading h1{
    font-weight: 600;
    color: #0176d3;
}

#btns{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
#btn1{
    padding: 10px 20px;
    background-color:rgb(89, 213, 255);
    color:white;
   margin: 10px;
    width:30%;
    border-radius: 5px;
}
#btn1:hover{
    background-color:rgb(0,67, 90)
}
#btn2:hover{
    background-color:lightblue ;
    color:rgb(0,67, 90);
    border-color: rgb(0,67, 90);
}
#btn2{
    padding: 10px 20px;
    background-color: white;
     border-radius: 5px;

    color:rgb(89, 213, 255);
    border: 1px solid rgb(89, 213, 255);;
    width: 30%;
    margin: 10px;
}

#contact{
    margin-left: 120px;
  padding-inline-start: 10px;
    
    text-decoration: underline;
 color: #0176d3;
    
}
.icon{
 
  margin-left: 10px;
  padding: 10px;
  border-radius: 50%;
}
.icon:hover{
      background-color: lightblue;
}
#login{
    display: flex;
padding: 20px; 
/* background-color: transparent;
font-size: 25px;  */

  border-radius: 50px;  
}
#login:hover{
    background-color: lightblue;

 
}
#try{
   padding: 10px 20px;
   margin-left: 80px;
   color: azure;
   background-color: #3ba755;
}
#try:hover{
    background-color: darkgreen;
}